<!DOCTYPE html>
<html>
  <head>
    <title>myc app</title>
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  </head>
  <body>
    <h1>Unsupported Browser</h1>
    <p>It looks like you're using an old unsupported browser.<p>
    <p>
      <a href='https://www.google.com/chrome/browser'>
        Download Chome for the best experience on MyChannel.
      </a>
    </p>
  </body>
</html>
